@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

* {

    margin: 0;
    padding: 0; 
    text-decoration: none; /* Link sin decoración */ 
    

}

html {

  scroll-behavior: smooth;

}

body {

  font-family: 'Sora', sans-serif;

}

/* CABECERA */

#main-header {

  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  z-index: 3;
  width: 100%;
  transition: 0.5s ease-in-out; /* Transición suave al mostrar/ocultar */
  position: fixed;
  top: 0;
  left: 0;

}

#main-header.hidden {

  top: -100px;

}
  
/* MODIFICACIÓN DEL LOGO */
  
.logo {
  
  display: flex;
  align-items: center;
    
}
    
.logo img {
  
  height: 65px;
  transition: transform 0.4s ease-in-out;
    
}
  
.logo img:hover {
  
  transform: scale(1.1);
  
}
  
/* MODIFICACIÓN DE LINKS */
  
nav a {
  
  font-weight: 200;
  padding-right: 70px;
  color: #fff;
  font-size: 12px;
  transition: 0.50s;
  text-transform: uppercase;
    
}
  
/* HOVER LINKS */
  
nav a:hover {
  
    color: #19a7ce;
  
}

/* PORTADA */

.container-cover {

  width: 100%;
  height: 768px;
  position: relative;
  margin-top: -0px;
  background-image: url(../IMÁGENES/R.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.container-cover:before {

  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(4,3,37,0.7) 0%, rgba(4,3,37,0.5) 100%);
  position: absolute;
  top: 0;
  left: 0;

}

 /* TÍTULO DE PORTADA */

 .container-info-cover {
    
  max-width: 800px;
  height: 768px;
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

}
  
 .container-info-cover h1 {

  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;

}

/* TEXTO DE PORTADA */

.container-info-cover p {

  color: #fff;
  font-size: 16px;
  font-weight: 600;

}

.container-info-cover a {

    background-color: #19a7ce; /* Green */
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
  
}

.container-info-cover a:hover {

    background-color: #146c94;
    cursor: pointer;

}
